@charset "utf-8";
section {
  padding: 60px 0;
}
section .box {
  width: 1100px;
  margin: 0 auto;
}
section .box > h2 {
  font-size: 32px;
}
section .box > p {
  font-size: 18px;
}
.section1 {
  padding: 0;
}
.section2 {
  position: relative;
  top: -5px;
  overflow: hidden;
  padding: 60px 0;
}
.section2 .line {
  width: 100px;
  margin: 16px 0 26px;
}
.section2 .box > p {
  font-size: 18px;
}
.section2 .box .sub {
  margin-top: 45px;
}
.section2 .box .sub .left {
  float: left;
  width: 400px;
}
.section2 .box .sub .left img {
  width: 400px;
  height: 400px;
}
.section2 .box .sub .right {
  float: right;
  position: relative;
  height: 400px;
  width: 700px;
  padding: 67px 118px 67px 38px;
  box-sizing: border-box;
  background: #f6f6f6;
}
.section2 .box .sub .right p {
  font-size: 16px;
  line-height: 1.5;
  text-indent: 2em;
}
.section2 .box .sub .right:after {
  content: url("../img/about_com_border.png");
  position: absolute;
  bottom: 50px;
}
.section3 .box h2 {
  font-size: 32px;
}
.section3 .box .left {
  display: inline-block;
}
.section3 .box .left > p {
  margin: 16px 0 37px;
  font-size: 18px;
}
.section3 .box .left .l_sub .sub {
  margin-top: 30px;
}
.section3 .box .left .l_sub .sub .kuang {
  display: block;
  position: relative;
  top: 5px;
  float: left;
  width: 14px;
  height: 14px;
  background: #ECAA27;
}
.section3 .box .left .l_sub .sub p {
  padding-left: 30px;
  font-size: 16px;
  line-height: 1.8;
}
.section3 .box .left .l_sub .sub p.title {
  font-size: 20px;
}
.section3 .box .right {
  float: right;
}
.section3 .box .right > p.en {
  margin: 16px 0 37px;
  font-size: 18px;
}
.section3 .box .right .phone {
  margin-bottom: 35px;
}
.section3 .box .right p:not(.en) {
  line-height: 1.5;
  font-size: 17px;
}
.section3 .box .right .line1 {
  margin-top: 30px;
}
.section3 .box .right .line2 {
  margin-top: 5px;
  background: #f9e5be;
  margin-bottom: 22px;
}
.section3 .box .right .img {
  margin-top: 20px;
}
.section4 .box > p {
  margin: 17px 0 26px;
  font-size: 18px;
}
.section4 .box .sub {
  position: relative;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.section4 .box .sub .left {
  float: left;
  width: 350px;
  border-right: 1px solid #7b7b7b;
  box-sizing: border-box;
  position: relative;
  top: 0;
  padding-left: 70px;
}
.section4 .box .sub .left p {
  font-size: 16px;
}
.section4 .box .sub .left p.title {
  font-size: 24px;
  margin-bottom: 20px;
}
.section4 .box .sub .right {
  display: inline-block;
  width: 740px;
  padding: 50px 70px;
  box-sizing: border-box;
}
.section4 .box .sub .right li {
  font-size: 16px;
  line-height: 1.5;
}
