@charset "utf-8";
.section1 {
  border-top: 1px solid #bfbfbf;
  padding: 60px 0;
  text-align: center;
}
.section1 .tab {
  line-height: 60px;
}
.section1 .tab span {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #dadada;
  line-height: 36px;
  margin-right: 18px;
}
.section1 .tab .tab1,
.section1 .tab .tab2,
.section1 .tab .tab3 {
  display: inline-block;
  margin-left: -10px;
}
.section1 .tab .activeImg {
  display: none;
}
.section1 .tab .active img {
  display: none;
}
.section1 .tab .active .activeImg {
  display: block;
}
.section1 .box .content {
  width: 610px;
  margin: 0 auto;
  text-align: right;
}
.section1 .box .content .sub {
  margin-top: 25px;
}
.section1 .box .content .sub input {
  width: 480px;
  height: 54px;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}
.section1 .box .content .yzm input {
  width: 300px;
}
.section1 .box .content .yzm a {
  display: inline-block;
  width: 160px;
  height: 52px;
  border: 1px solid #ECAA27;
  border-radius: 8px;
  color: #ECAA27;
  text-align: center;
  line-height: 54px;
  margin-left: 10px;
}
.section1 .box .content .button {
  margin: 0 auto;
  text-align: center;
}
.section1 .box .content .button button {
  width: 340px;
  height: 56px;
  background: #ECAA27;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 24px;
  margin-top: 80px;
}
.section1 .box .wc {
  text-align: center;
  display: none;
}
.section1 .box .cz {
  display: none;
}
