@charset "utf-8";
body {
  color: #333;
}
header {
  height: 40px;
  background: #2d2d2d;
  font-size: 14px;
  color: #fefefe;
  overflow: hidden;
}
header a {
  color: #FEFEFE;
}
header .head {
  max-width: 1200px;
  margin: auto;
  line-height: 40px;
}
header .head .left {
  float: left;
}
header .head .right {
  float: right;
}
header .head .right a {
  margin-left: 40px;
}
header .head .right .icon_hot {
  font-style: normal;
  color: #fe0000;
}
header .head .right i {
  padding-top: 10px;
  overflow: hidden;
}
header .head .right i img {
  position: relative;
  top: 5px;
  overflow: hidden;
}
nav {
  height: 80px;
  overflow: hidden;
  color: #333;
  font-size: 17px;
}
nav .box {
  max-width: 1200px;
  margin: 0 auto;
}
nav .box .logo,
nav .box .menuList {
  float: left;
}
nav .box .logo {
  margin-top: 10px;
}
nav .box .menuList {
  margin-left: 50px;
}
nav .box .menuList ul {
  margin: 0;
  padding: 0;
}
nav .box .menuList ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 80px;
  margin-left: 40px;
}
nav .box .menuList ul li a {
  line-height: 80px;
  display: block;
  color: #333;
}
nav .box .menuList ul li a:hover {
  color: #ECAA27;
}
nav .box .menuList ul li a.active {
  color: #ecaa27;
}
nav .box .userEntrance {
  float: right;
  height: auto;
  background: #ecaa27;
  border-radius: 20px;
  margin-top: 20px;
}
nav .box .userEntrance .lbox {
  padding: 10px 20px;
}
nav .box .userEntrance .lbox span {
  color: #fff;
}
nav .box .userEntrance .lbox a {
  color: #fff;
}
.section1 .banner {
  position: relative;
  overflow: auto;
  text-align: center;
}
.section1 .banner ul li {
  float: left;
}
.section1 .banner .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}
.section1 .banner .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0.4;
  -webkit-transition: background 0.5s, opacity 0.5s;
  -moz-transition: background 0.5s, opacity 0.5s;
  transition: background 0.5s, opacity 0.5s;
}
.section1 .banner .dots li.active {
  background: #fff;
  opacity: 1;
}
.section2 {
  height: auto;
  padding: 40px 0;
}
.section2 .h_line {
  width: 130px;
  margin-top: 10px;
}
.section2 .box {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.section2 .box h2 {
  font-size: 32px;
  font-weight: normal;
}
.section2 .box h4 {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: normal;
}
.section2 .box > p {
  width: 800px;
  font-size: 15px;
  margin: 0 auto;
  line-height: 1.5;
}
.section2 .box ul {
  margin-top: 80px;
}
.section2 .box ul li {
  position: relative;
  float: left;
  width: 300px;
}
.section2 .box ul li img {
  padding-top: 50px;
}
.section2 .box ul li > p.title {
  margin-top: 35px;
}
.section2 .box ul li .title2 {
  margin: 17px 0 30px;
}
.section2 .box ul li .line {
  width: 60px;
}
.section2 .box ul li .hover {
  margin-top: 35px;
  margin-bottom: 50px;
}
.section2 .box ul li .sub {
  display: none;
  position: absolute;
  top: 0;
  background: #ECAA27;
  width: 300px;
  height: 450px;
  text-align: left;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}
.section2 .box ul li .sub p {
  font-size: 15px;
}
.section2 .box ul li .sub .title {
  font-size: 18px;
  padding-top: 35px;
  margin-bottom: 20px;
}
.section2 .box ul li:hover .sub {
  display: block;
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
}
.section3 {
  height: auto;
  text-align: center;
  background: #f6f6f6;
  padding: 40px 0;
}
.section3 > .box {
  width: 1200px;
  margin: 0 auto;
}
.section3 > .box .title {
  font-size: 32px;
}
.section3 > .box .tab {
  font-size: 20px;
  padding: 0 20px;
  display: inline-block;
  margin-top: 30px;
}
.section3 > .box .active {
  color: #ECAA27;
}
.section3 > .box .game-main {
  margin-top: 50px;
}
.section3 > .box .game-main a {
  display: inline-block;
  width: 190px;
  height: auto;
  width: 200px;
  background: #fff;
  padding: 20px 0;
  margin-left: 16px;
  margin-top: 16px;
}
.section3 > .box .game-main a span {
  display: block;
  font-size: 14px;
  color: #333;
}
.section3 > .box .game-main a span i {
  font-style: normal;
  margin-left: 10px;
}
.section4 {
  height: auto;
  text-align: center;
  padding: 40px 0 60px;
}
.section4 > .box {
  width: 1200px;
  margin: 0 auto;
}
.section4 > .box h2 {
  font-size: 32px;
}
.section4 > .box .line {
  width: 35px;
  margin-top: 30px;
}
.section4 > .box ul {
  margin-top: 40px;
}
.section4 > .box ul li {
  display: inline-block;
  width: 500px;
  margin-top: 60px;
  margin-left: 50px;
}
.section4 > .box ul li img {
  float: left;
}
.section4 > .box ul li .sub {
  text-align: left;
  float: left;
  width: 350px;
  margin-left: 20px;
}
.section4 > .box ul li .sub h5 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: normal;
}
.section5 {
  height: auto;
  text-align: center;
  padding: 40px 0;
  background: #F6F6F6;
}
.section5 > .box {
  position: relative;
  padding: 0 50px;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}
.section5 > .box .left_block {
  float: left;
}
.section5 > .box .left_block > div {
  margin-top: 20px;
  font-size: 16px;
}
.section5 > .box .left_block > div .num {
  width: 30px;
  height: 30px;
}
.section5 > .box .left_block > div .num i {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ECAA27;
  color: #fff;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}
.section5 > .box .left_block > div .num i.two {
  background: #bfbfbf;
}
.section5 > .box .left_block > div .name {
  margin-left: 20px;
}
.section5 > .box .left_block > div .city {
  margin-left: 40px;
  margin-right: 40px;
}
.section5 > .box .right_block {
  float: right;
}
.section5 > .box .V_line {
  width: 1px;
  height: 350px;
  background: #BFBFBF;
  position: absolute;
  left: 50%;
  top: 50px;
}
.section5 > .box h2 {
  font-size: 28px;
  margin-bottom: 60px;
}
.section6 {
  height: auto;
  text-align: center;
  padding: 40px 0;
}
.section6 > .box {
  width: 1200px;
  margin: 0 auto;
}
.section6 > .box h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 10px;
}
.section6 > .box p {
  font-size: 18px;
}
.section6 > .box .sub {
  margin-top: 65px;
}
.section6 > .box .sub img {
  width: 210px;
  height: 80px;
  border: 1px solid #d3d3d3;
}
.section7 {
  height: auto;
  text-align: center;
  padding: 40px 0;
  background: #f6f6f6;
}
.section7 > .box {
  width: 1200px;
  margin: 0 auto;
}
.section7 > .box h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 10px;
}
.section7 > .box p {
  font-size: 18px;
  padding-top: 5px;
}
.section7 > .box .sub {
  margin-top: 50px;
  text-align: center;
}
.section7 > .box .sub .sub_box {
  text-align: left;
  padding: 30px 70px;
}
.section7 > .box .sub .sub_box .data {
  float: left;
}
.section7 > .box .sub .sub_box .data .month {
  font-size: 46px;
  color: #ECAA27;
}
.section7 > .box .sub .sub_box .data .year {
  font-size: 18px;
  text-align: right;
}
.section7 > .box .sub .sub_box .text {
  float: left;
  width: 80%;
  margin-left: 50px;
}
.section7 > .box .sub .sub_box .text h5 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
}
.section7 > .box .sub .sub_box .text p {
  font-size: 16px;
}
.section7 > .box .sub .sub_box .enter {
  float: right;
  position: relative;
  top: 20px;
}
.section7 > .box .sub .sub_box:hover {
  border: 1px solid #ECAA27;
  border-radius: 100px;
}
.section7 > .box .sub .more {
  display: inline-block;
  margin-top: 40px;
  color: #ECAA27;
  font-size: 20px;
  padding: 15px 50px;
  overflow: hidden;
  border: 1px solid #ECAA27;
  border-radius: 30px;
  text-align: center;
}
footer {
  background: #3a3a3a;
  padding: 45px 0;
  color: #f5f5f5;
}
footer .box {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
footer .box .Contact_topLeft {
  overflow: hidden;
  width: 50%;
  float: left;
}
footer .box .Contact_topLeft dl {
  text-align: left;
  margin: 0;
  padding: 0;
  float: left;
}
footer .box .Contact_topLeft dl .line {
  width: 35px;
  margin: 10px 0 35px;
  text-align: left;
}
footer .box .Contact_topLeft dl dt {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
footer .box .Contact_topLeft dl dd {
  margin: 20px 0;
  padding: 0;
  font-size: 16px;
}
footer .box .Contact_topLeft dl dd a {
  color: #f5f5f5;
}
footer .box .Contact_topLeft .dl {
  margin-left: 80px;
}
footer .box .Contact_topRight {
  float: left;
  margin-left: 50px;
}
footer .box .Contact_topRight .ercode {
  float: left;
}
footer .box .Contact_topRight .ercode h5 {
  font-size: 16px;
  font-weight: normal;
  color: #f5f5f5;
  margin: 20px 0 10px;
}
footer .box .Contact_topRight .ercode p {
  font-size: 14px;
}
footer .box .Contact_topRight .codeRight {
  float: left;
  margin-left: 30px;
}
footer .box .Contact_topRight .codeRight p {
  float: left;
  width: 85px;
}
footer .box .Contact_topRight .codeRight span {
  display: inline-block;
  width: 150px;
  margin-bottom: 20px;
  line-height: 2;
  position: relative;
  top: -5px;
}
.foot_bottom {
  background: #2d2d2d;
  height: 60px;
}
.foot_bottom .Contact_bottom {
  width: 1200px;
  margin: 0 auto;
  color: #f5f5f5;
}
.foot_bottom .Contact_bottom div {
  float: left;
  line-height: 60px;
}
.foot_bottom .Contact_bottom img {
  float: right;
  padding-top: 15px;
}
#register {
  z-index: 999;
  display: none;
  border-radius: 12px;
  position: fixed;
  top: 160px;
  left: 50%;
  margin-left: -240px;
  width: 480px;
  background: #fff;
  padding-bottom: 50px;
}
#register .head {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #e8e8e8;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
}
#register .head .title {
  float: left;
}
#register .head .close {
  float: right;
}
#register .body {
  padding-top: 25px;
  text-align: center;
}
#register .body > .title {
  font-size: 20px;
}
#register .body > .title span {
  color: #ff0000;
}
#register .body > .date {
  font-size: 16px;
  margin-top: 15px;
}
#register .body form {
  margin-top: 35px;
}
#register .body form input {
  width: 400px;
  height: 52px;
  border: 1px solid #BFBFBF;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #666;
  font-size: 16px;
  outline: none;
}
#register .body form .yzmbox {
  text-align: left;
  padding: 0 40px;
}
#register .body form .yzmbox input.yzm {
  width: 240px;
}
#register .body form .yzmbox a {
  float: right;
  display: block;
  width: 140px;
  height: 50px;
  line-height: 52px;
  font-size: 18px;
  overflow: hidden;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  text-align: center;
}
#register .body > button {
  width: 400px;
  height: 52px;
  background: #ECAA27;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
}
#login {
  z-index: 999;
  display: none;
  border-radius: 12px;
  position: fixed;
  top: 160px;
  left: 50%;
  margin-left: -240px;
  width: 480px;
  background: #fff;
  padding-bottom: 50px;
}
#login .head {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: #e8e8e8;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
}
#login .head .title {
  float: left;
}
#login .head .close {
  float: right;
}
#login .body {
  padding-top: 25px;
  text-align: center;
}
#login .body .tab {
  font-size: 20px;
}
#login .body .tab span {
  padding: 0 45px;
}
#login .body .tab .active {
  color: #ECAA27;
}
#login .body form {
  margin-top: 30px;
}
#login .body form input {
  width: 400px;
  height: 52px;
  border: 1px solid #BFBFBF;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  color: #666;
  font-size: 16px;
  outline: none;
}
#login .body form .yzmbox {
  text-align: left;
  padding: 0 40px;
}
#login .body form .yzmbox input.yzm {
  width: 240px;
}
#login .body form .yzmbox a {
  float: right;
  display: block;
  width: 140px;
  height: 50px;
  line-height: 52px;
  font-size: 18px;
  overflow: hidden;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
  text-align: center;
}
#login .body form.common {
  display: none;
}
#login .body .remember {
  text-align: left;
  padding-left: 40px;
  margin-bottom: 40px;
}
#login .body > button {
  width: 400px;
  height: 52px;
  background: #ECAA27;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 8px;
}
#login .body .bottom {
  margin-top: 18px;
  padding: 0 40px;
  font-size: 16px;
}
#login .body .bottom .forget {
  float: left;
}
#login .body .bottom .no_register {
  float: right;
}
#login .body .bottom .no_register span {
  color: #FF0000;
}
#mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -moz-opacity: 0.5;
  z-index: 10;
}
